<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705774753844-3cb5d6ruiu4ljmtkjo53ojh4ucolo4dm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705774753844-3cb5d6ruiu4ljmtkjo53ojh4ucolo4dm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>705774753844-e6j67j4dh7msmr8fncdgs2f6un8eku4e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0nqsPtVlSL1mZWnceTV4ZPLiBKcG7vDc</string>
	<key>GCM_SENDER_ID</key>
	<string>705774753844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.incevio.mioAmore</string>
	<key>PROJECT_ID</key>
	<string>mio-amore-incevio</string>
	<key>STORAGE_BUCKET</key>
	<string>mio-amore-incevio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705774753844:ios:bec93ea956dfa4745bd261</string>
</dict>
</plist>